
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
      text-align: center;
      font-family: Arial, sans-serif;
      margin-top: 100px;
    }
    h1 {
      color: purple;
    }
    button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: #45a049;
      background-color: #268b92;
    }